@font-face {
  font-family: "iconfont"; /* Project id 4157475 */
  src: url('iconfont.woff2?t=1780462783038') format('woff2'),
       url('iconfont.woff?t=1780462783038') format('woff'),
       url('iconfont.ttf?t=1780462783038') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-neiwang:before {
  content: "\e611";
}

.icon-liantongwaiwang:before {
  content: "\e71d";
}

